/* SVG ANIMATION */

/* width and heigh of a img */
#svg4 {
    width: 85%;
    height: 400px;
    position: absolute;
    opacity: 0.5;
     
  }

/* Animation of svg */
.draw{
    stroke-dasharray: 2545;
    stroke-dashoffset: 2545;
    animation: animate 2s forwards;
  }
  
  @keyframes animate {
    to {
      stroke-dashoffset: 0;
    }
    /* Animation of svg - to hide at the end */
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
    
  }

  /* Animation of img */
.show {
  animation: animateShow 2s ease-in-out;
}

@keyframes animateShow {

  /* Animation of img - to show at the end */
  0%   {opacity: 0;}
  90%  {opacity: 1;}
  100% {opacity: 1;}
  
}

/* ########################################################## */


/* VIEW MORE button */
.makeOffer {
    border: 1px solid #CE9C6B;
    text-align: center;
    border-radius: 200px;
    padding: 8px 0px;
    height: 41px;
    width: 98px;
    background-color: #CE9C6B;
    color: white;
    position: relative;
    font-size: 11px;
    float: right;

}


/* Style pic on Book-desc.html */
.book-pic2 {
    width: 250px;
    position: relative;
    left: 90px
}

/* Name says it all */
.fancyLine{
    width: 80%;
    margin-top: 37px;
    bottom: 0px;
    display: inherit;
}


/* VIEW MORE button */
.viewMore {
    border: 1px solid #CE9C6B;
    text-align: center;
    border-radius: 200px;
    padding: 8px 0px;
    height: 41px;
    width: 98px;
    background-color: #CE9C6B;
    color: white;
    position: relative;
    font-size: 11px;
    float: right;
    bottom: 11px;
    right: 24px;
}

/* Rid of blue outline */
button:focus {
    outline:0;
}

/* On button hover, we change color of svg */
#svg1:hover svg path {
    fill: #CE9C6B;

}
#svg2:hover svg path {
    fill: #CE9C6B;
}

#svg3:hover svg path {
    fill: #CE9C6B;
}

/* On hover change color of genre*/
div.category:hover {
    cursor: pointer;
    background-color: #6C4520;
    color: white;
}

/* Book name */
.book-name{
    font-size: 25px;
    color: #6C4520;
}

/* Star pic */
.star{
    width: 20px;
    margin-right: 15px;
}

/* ########################################################## */

body {
    font: normal 17px;
    background-color: #E7E1DB;
}

.main-text {
    text-align: left;
    margin-top: 100px;
    font-size: 50px;
}

#title-text{
    text-align: left;
    margin-left: 25px;
}

.section {
    margin-top: 3%;
}

.category-section{
    padding-top: 100px;
    padding-left: 100px;
}

.category {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
}

.categories > div {
    padding-bottom: 30px;
}

#category-text {
    text-align: center;
    padding: 15px 0 5px 0;
    margin: 20px;
}

.footer { 
    background-color: #E7E1DB;
}

.footer-text {
    padding-top: 50px;
}

.book-pic {
    width: 250px;
    position: relative;
    left: 90px;
    top: 25px;
}

.pic {
    width: 100%;
}

#offer-text {
    padding-top: 20px;
}

.offer-section {
    margin-left: 10px;
    margin-bottom: 25px;
}

.stars {
    margin: 20px 0 20px 0;
}

.crta {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 40px;
}

.black-container{
    margin-top: 100px;
    background-color: black;;
    height: 400px;
}

.black-background {
    background-color: #E7E1DB;;
    height: 100%;
}

.description {
    background-color: black;
    color:white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 450px;
}

.offer-box {
    width: 100%; 
    height: 100%;
    background-color: #E7E1DB;;
}

.offer-pic {
    width: 30%;
    float: left;
}

.offer-info {
    width: 400px;
    float: left;
    height: 100%;
    padding: 30px 30px;
    color: white;
    background-color: black;
}

.offer-button {
    float: right; 
    background-color: #CE9C6B; 
    border-color: white;
    color: black;
}

.book-box {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.book-info {
    width: 70%;
    float: left;
    height: 100%;
    padding: 10px 40px;
    color: black;
    margin-top: 60px;
}

.book-img {
    width: 350px;
    height: 300px;
    float: left;
    padding: 10px;
    background-color: black;
}


@media (max-width: 768px) {
    #title-text {
        text-align: center;
        width: 100%;
    }

    #bookstack {
        display: none;
    }
    
    .category-section {
        padding: 0;
    }

    .black-container {

        margin-top: 40px;
        background-color:#E7E1DB;;
        height: 400px;
    
    }

    .book-pic {
        width: 50%;
        float: center;
    }
}

@media (max-width: 992px) { 
    .book-pic {
        width: 80%;
        float: center !important;
        margin: 0 auto;
    } 
}

